- @recipe.each_slice(3) do |arrRecipes|
	.row
		- arrRecipes.each do |recipe|
			.col-md-4
				.recipe
					.image_wrapper
						= link_to recipe do
							= image_tag recipe.image_url(:thumb)
					%h2= link_to recipe.title, recipe
